<h2>会員情報入力</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
          <%= f.label :nickname, "ニックネーム" "必須" %><br />
          <%= f.text_field :nickname,  id:"user_nickname" , :placeholder=> "例）furima太郎" %>
  </div>

  <div class="field">
    <%= f.label :email, "メールアドレス""必須" %><br/>
    <%= f.email_field :email, id:"user_email", autofocus: true, autocomplete: "email" ,:placeholder=> "PC・携帯どちらでも可"%>
  </div>

  <div class="field">
    <%= f.label :password , "パスワード""必須"%><br/>
    <%= f.password_field :password, id:"user_password", autocomplete: "new-password" , :placeholder=> "６文字以上の半角英数字" %><br/>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  </div>
  ※英字と数字の両方を含めて設定してください

  <div class="field">
    <%= f.label :password_confirmation, "パスワード（確認）" "必須"%><br />
    <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password", :placeholder=> "同じパスワードを入力して下さい" %>
  </div>

本人確認<br />
安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。<br />
他のお客さまに公開されることはありません。

  <div class="field">
    <%= f.label :family_name, "お名前(全角)" "必須" %><br />
    <%= f.text_field :family_name, id:"user_family_name", :placeholder=> "例）山田" %>
  </div>
    <div class="field">
    <% f.label :first_name %><br />
    <%= f.text_field :first_name, id:"user_first_name" , :placeholder=> "例）隆太郎"%>
  </div>

  <div class="field">
    <%= f.label :family_name_kana, "お名前カナ(全角) " "必須" %><br />
    <%= f.text_field :family_name_kana, id:"user_family_name_kana", :placeholder=> "例）ヤマダ" %>
  </div>
  
  <div class="field">
    <% f.label :first_name_kana %><br />
    <%= f.text_field :first_name_kana, id:"user_first_name_kana", :placeholder=> "例）リクタロウ"%>
  </div>

  <div class="field">
    <%= f.label :date_of_birth ,"生年月日" "必須" %><br />
     <%#=<%= f.date_select :date_of_birth,  {start_year: 1930, use_month_numbers: true} %>
    <%== sprintf( f.date_select(:date_of_birth,{:start_year => 1930,:use_month_numbers => true, :date_separator => '%s',},), '年 ', '月')%>日

※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。<br />

「会員登録」のボタンを押すことにより、 利用規約に同意したものとみなします

  <div class="actions">
    <%= f.submit "会員登録" %><br />

    本人情報の登録について
  </div>
<% end %>

<% render "devise/shared/links" %>
